.contenedor{
	background-image: url(../img/fondo.png);
	background-repeat:repeat;
	display: flex;
	flex-direction: column;
	max-width: 100%;
	justify-content: center;
}
.primeraColumna{
	background-color: powderblue;
	flex: 1;
	padding: 1rem;
	border:1rem solid steelblue;
	border-radius: 2rem;
	margin: 2rem;
	text-align: center;
}
.segundaColumna{
	background-color: powderblue;
	flex: 1;
	padding: 1rem;
	border:1rem solid steelblue;
	border-radius: 2rem;
	margin: 2rem;
	text-align: center;
}
.tercerColumna{
	background-color: powderblue;
	flex: 1;
	padding: 1rem;
	border:1rem solid steelblue;
	border-radius: 2rem;
	margin: 2rem;
	text-align: center;
}
h1{
	font-family:"Able","BJCree","Lato" ;
}
header{
	background-color: paleturquoise;
	text-align: center;
	position: relative;
}
header img{
	position: absolute;
	top: 20px;
	right: 20px;
	width: 130px;
}
aside{
	max-width: 100%;
	background-color: lightblue;
	text-align: center;
}
nav ul{
	list-style: none;
}
nav ul li{
	display:inline-block;
	margin:0 1rem;
}
main{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
footer{
	background-color: cadetblue;
	text-align: center;
}
q{
	font-size: 25px;
}
h2{
	font-family: "Able","BJCree","Lato";
	text-align: center;
}
/*Pagina dos html*/
.columnaChica{
	background-color: powderblue;
	flex: 1;
	padding: 1rem;
	border:1rem solid steelblue;
	border-radius: 2rem;
	margin: 2rem;
	text-align: center;
}
.columnaGrande{
	background-color: powderblue;
	flex: 2;
	padding: 1rem;
	border:1rem solid steelblue;
	border-radius: 2rem;
	margin: 2rem;
	text-align: center;
}
#obras{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#obras img{
	width: 10rem;
	height: 10rem;
	object-fit: cover;
}
#bloques{
	background-color: skyblue;
	border: 1rem solid steelblue;
	padding: 1.5rem;
	margin-bottom: 1.5rem;
}
label{
	display:block;
	font-weight:bold;
}
input{
	width: 100%;
	padding: 0.5 rem;
	border: 2px solid midnightblue;
	border-radius:0,5rem;
}
input:disabled{
	background: #f0f0f0;
	color: #999;
}
button{
	background-color: midnightblue;
	color: white;
	border: none;
	border-radius: 2rem;
	font-weight: bold;
}
.error{
	color:crimson;
}
.titulo{
	display: flex;
	background-color:midnightblue;
	color: white;
	justify-content: center;
	border: 0.5rem solid steelblue;
	border-radius: 2px;

}
#seccionResultados{
	display: flex;
	flex-direction: column;
	align-self: center;
	text-align: center;
}
#listaObras{
	list-style: none;
	padding: 0.4 rem;
	border: 1px solid midnightblue;
}
a:link{
	color:midnightblue;
}
a:visited{
	color: black;
}
a:hover{
	color: red;
}